<!-- Responsive navbar-->
<app-top-nav-bar></app-top-nav-bar>

<!-- Page content-->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <app-register></app-register>
    </div>
    <div class="col-lg-6">
      <!-- Post content-->
      <!-- <router-outlet></router-outlet> -->
      <!-- <app-blog-post></app-blog-post> -->

      <!-- Comments section-->
      <!-- <app-blog-comment></app-blog-comment> -->

      <!-- Login Card -->
      <app-login></app-login>
    </div>

    <!-- side bar -->
    <!-- <app-side-bar class="col-lg-4"></app-side-bar> -->
  </div>
</div>
<!-- Footer-->
<app-footer></app-footer>
